.container-fluid {
    margin: 5px 150px;
}


.container {
    padding: 25px;
    margin: 0 auto;
    width: 1060px;
    display: flex;
    justify-content:center;
}

.row {
    margin-top: 40px;
}

.col {
    padding: 15px;
}

.carousel .carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 600px;
  }

.dogIcon {
    height: 50px;
    align-self: center;
}

h3 {
    font-size: 25px;
    margin-top: 10px;
}

h2 {
    display:flex;
    justify-content:center;
    margin-top: 25px;
}

.card-img-top img {
    height: 600px;
}

.whyChooseUs {
    background-color: #6c7b8f;
    color: #fff;
    margin-top: -30px;
}


footer {
    background-color: #f7882f;
    color: #fff;
    padding: 30px;
}

footer li {
    list-style-type: none;
  
}

.getIntouch {
    background-color: #fff;
    padding: 20px;
    text-decoration: none;
    color: #4a4a4a;

}